.category-case {
  margin-bottom: 1.5rem;
}

.category-case__end {
  width: 1px;
}

.category-case__header {
  display: flex;
  justify-content: space-between;
}

.category-case__item-container {
  border-bottom: 2px solid var(--color-theme);
  border-top: 2px solid var(--color-theme);
  display: flex;
  overflow-x: auto;
}

.category-case__item-container::-webkit-scrollbar {
  display: none;
}

.category-case__item-container > * {
  flex-shrink: 0;
}

.category-case__scroll-button {
  --size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  height: var(--size);
  margin-right: .25rem;
  outline: none;
  padding: 0;
  width: var(--size);
}

.category-case__scroll-button:last-child {
  margin-right: .5rem;
}

.category-case__title {
  margin: 0 0 .5rem .75rem
}
