.app-details {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--content-max-width);
}

.app-details__app-card-container {
  text-align: center;
}

.app-details__description {
  text-align: center;
}

.app-details__heading {
  font-size: 1.67rem;
  margin: 0 0 .25rem;
  text-align: center;
}

.app-details__info-container {
  padding: 1rem;
}

.app-details__url {
  color: var(--color-highlight);
  display: block;
  font-size: .8rem;
  font-weight: bold;
  margin: 0 0 1rem;
  text-align: center;
  text-decoration: none;
}
