.app-card {
  border-radius: var(--cmp-app-card-border-radius);
  box-shadow: .2rem .2rem .25rem rgba(0, 0, 0, .5);
  display: inline-block;
  margin: var(--cmp-app-card-spacing);
  outline: 0;
  position: relative;
  text-decoration: none;
  transition-duration: .1s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: var(--cmp-app-card-width);
}

.app-card::after {
  border-radius: var(--cmp-app-card-border-radius);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: var(--cmp-app-card-border-width) solid var(--color-theme);
}

.app-card:focus,
.app-card:hover {
  box-shadow: .3rem .3rem .5rem rgba(0, 0, 0, .5);
}

.app-card:focus::after,
.app-card:hover::after {
  border-color: var(--color-highlight);
}

.app-card__logo-container {
  padding: calc(2rem + var(--cmp-app-card-border-width)) 0 2rem;
  text-align: center;
}

.app-card__name {
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: var(--cmp-app-card-border-radius);
  border-bottom-right-radius: var(--cmp-app-card-border-radius);
  box-sizing: border-box;
  color: var(--color-white);
  overflow: hidden;
  padding: .5rem .75rem .667rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.app-card:focus .app-card__name,
.app-card:hover .app-card__name {
  background-color: var(--color-highlight);
}
