.search-results {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: var(--content-max-width);
  padding: 0 var(--spacing-x4) var(--spacing-x4);
  text-align: center;
}

.search-results > .app-card {
  margin: var(--app-card-spacing);
}

.search-results__no-results {
  margin: 2rem;
}
