.app-card {
  border-radius: var(--cmp-app-card-border-radius);
  box-shadow: var(--box-shadow-1);
  display: inline-block;
  outline: 0;
  position: relative;
  text-decoration: none;
  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
  transition-timing-function: var(--transition-timing-function);
  width: var(--cmp-app-card-width);
}

.app-card::after {
  border-radius: var(--cmp-app-card-border-radius);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: var(--cmp-app-card-border-width) solid var(--color-theme);
  transition: var(--transition-duration) border-color var(--transition-timing-function);
}

.app-card:focus,
.app-card:hover {
  box-shadow: var(--box-shadow-2);
}

.app-card:focus::after,
.app-card:hover::after {
  border-color: var(--color-highlight);
}

.app-card__logo {
  height: var(--cmp-app-card-logo-size);
  width: var(--cmp-app-card-logo-size);
}

.app-card__logo-container {
  padding: calc(1.67rem + var(--cmp-app-card-border-width)) 0;
  text-align: center;
}

.app-card__footer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: var(--cmp-app-card-border-radius);
  border-bottom-right-radius: var(--cmp-app-card-border-radius);
  box-sizing: border-box;
  color: var(--color-white);
  display: flex;
  font-size: var(--cmp-app-card-font-size);
  justify-content: center;
  padding: .5rem .75rem .667rem;
  transition: var(--transition-duration) background-color var(--transition-timing-function);
}

.app-card:focus .app-card__footer,
.app-card:hover .app-card__footer {
  background-color: var(--color-highlight);
}

.app-card__header {
  background-color: rgba(0, 0, 0, 0.75);
  border-top-left-radius: var(--cmp-app-card-border-radius);
  border-top-right-radius: var(--cmp-app-card-border-radius);
  box-sizing: border-box;
  color: var(--color-white);
  font-size: var(--cmp-app-card-font-size);
  overflow: hidden;
  padding: .5rem .75rem .667rem;
  text-align: center;
  text-overflow: ellipsis;
  transition: var(--transition-duration) background-color var(--transition-timing-function);
  white-space: nowrap;
}

.app-card:focus .app-card__header,
.app-card:hover .app-card__header {
  background-color: var(--color-highlight);
}
