.category {
  --size: 1rem;
  --vertical-padding: 1rem;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  margin-bottom: var(--size);
  transition: .1s background-color ease-in-out;
}

.category__appearance {
  background-color: var(--color-theme);
  border-radius: var(--size);
  padding: var(--vertical-padding) var(--size);
}

.category__input:checked + .category__appearance {
  background-color: var(--color-highlight);
}

.category__input:focus + .category__appearance {
  outline: var(--color-highlight) auto 5px;
}

.category:not(:last-child) {
  margin-right: 1rem;
}

.category__input {
  cursor: inherit;
  opacity: 0;
  position: absolute;
}

@media (min-width: 64rem) {
  .category {
    --size: 1.5rem;
  }
}
