.header {
  background-color: var(--color-theme);
  box-shadow: 0 .175rem .2rem rgba(0, 0, 0, .5);
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: var(--spacing-x8) 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 72rem) {
  .header {
    padding: var(--spacing-x8) 0;
  }
}

.header__title {
  color: var(--color-white);
  margin: 0;
  text-align: center;
}
